/* ALL COMMON CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
/* Buttons */
.btn{
    padding: 12px 16px;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
    animation: glow 2s infinite ease-in-out;
    -webkit-animation: glow 1.5s infinite ease-in-out;
}
@keyframes glow {
    0%{
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
    }
    50%{
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    }
    100%{
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
    }
}
.btn-hover{
    transition: ease .3s;
}
.btn-hover:hover{
    background: linear-gradient(to bottom left, #F7E93F, #FB09B4, #9100F8);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.btn-green{
    padding: 12px 16px;
    background: transparent;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #00FF88;
    border-radius: 30px;
    cursor: pointer;
    text-transform: capitalize;
}
.btn-green-hover{
    transition: all linear .3s;
}
.btn-green-hover:hover{
    box-shadow: 0 5px 20px rgba(0, 255, 136, 0.3);
}
/* Buttons */

/* Color */
.clr-white{
    color: #FFFFFF;
}
.clr-off-white{
    color: rgba(255, 255, 255, 0.8);
}
/* Color */

/* Section */
.section-header{
    text-align: center;
}
.section-header h3{
    font-weight: 800;
    font-size: 3rem;
    padding-bottom: 18px;
    text-transform: capitalize;
}
.section-header p{
    font-size: 1rem;
    font-weight: normal;
    line-height: 28px;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
}
/* Section */
/* All COMMON CSS */

/* Header Part Start */
header{
    background-color: #1A0B2E;
}
nav{
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Menu Part Start */
.navbar{
    display: flex;
    gap: 30px;
}
.nav-menu{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: capitalize;
    transition: all linear.3s;
}
.nav-menu:hover{
    color: #F7E93F;
}
nav .btn i{
    padding-left: 5px;
}
/* Menu Part End */
/* Banner Part Start */
#banner{
    padding: 50px 0 160px 0;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
    text-align: center;
}
.banner-img{
    position: relative;
}
.m-absolute{
    position: absolute;
    top: 24.5%;
    right: 44.5%;
}
.badge{
    padding: 8px 16px;
    background: #00FF88;
    color: #1A0B2E;
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 255, 136, 0.5);
    text-transform: uppercase;
    position: absolute;
    top: 3%;
    right: 37%;
    animation: pop 2.5s infinite;
    -webkit-animation: pop 2s infinite;
}

@keyframes pop {
    /* idle time */
    0%, 70%{
        transform: scale(1);
    }
    /* pop */
    80%{
        transform: scale(1.25);
    }
    90%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}
.banner-info h2{
    font-weight: 800;
    font-size: 3.75rem;
    padding: 25px 0 10px 0;
}
.banner-info p{
    font-size: 1rem;
    font-weight: normal;
    padding-bottom: 20px;
}
.banner-button button{
    margin-left: 15px;
}
.banner-button button i{
    padding-right: 8px;
}
/* Banner Part End */
/* Header Part End */

/* About Section Start */
#about{
    padding: 50px 0 80px;
    background: #1A0B2E;
}
#about .section-header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
}
.about-contents{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}
.about-info{
    padding: 10px;
    max-width: 240px;
    margin: 0 auto;
    text-align: center;
}
.about-info h3{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.about-info p{
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
}
/* About Section End */

/* Choose Section Start */
#choose{
    padding: 80px 0;
    background: #230E3D;
}
.choose-contents{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 30px;
}
.audio{
    grid-row: 1/3;
}
.choose-contents .card{
    padding: 40px;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
    align-content: center;
}
.choose-contents .card h3{
    font-size: 1.5rem;
    padding: 20px 0;
    text-transform: capitalize;
}
.choose-contents .card p{
    font-size: 1rem;
    line-height: 28px;
    width: 300px;
}
/* Choose Section End */

/* Featured Episode Section Start */
#episodes,
#host
{
    padding: 80px 0;
    background: #1A0B2E;
}
.episodes-content{
    display: flex;
    justify-content: center;
    gap: 35px;
}
.episode-card{
    padding-top: 50px;
    max-width: 380px;
}
.card-header iframe{
    border-radius: 20px 20px 0 0;
}
.card-body{
    padding: 24px;
    background: #250D44;
    border-radius: 0 0 20px 20px;
}
.card-body h3{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 28px;
}
.card-body p{
    font-size: 1rem;
    font-weight: normal;
    line-height: 28px;
    width: 332px;
    padding: 16px 0;
}
.card-body span{
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
}
.card-body span i{
    padding-right: 8px;
}
/* Featured Episode Section End */

/* Host Section Start */
.host-content{
    margin-top: 40px;
    padding: 35px;
    border-radius: 20px;
    background: #351165;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.host-info h3{
    font-size: 2rem;
    font-weight: 700;
}
.host-info p{
    width: 800px;
    padding: 18px 0;
    font-size: 1rem;
    line-height: 28px;
}
.host-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.host-icons li{
    padding: 10px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: all linear .3s;
}
.host-icons li a img{
    width: 16px;
    height: 16px;
}
.host-icons li:hover{
    border: 1px solid #FB09B4;
}
/* Host Section End */

/* Footer Section Start */
footer{
    padding: 80px 0 25px;
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer{
    text-align: center;
}
.footer-socials{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-socials li a{
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
}
.footer-socials li a i{
    color: #FFFFFF;
    padding-right: 5px;
}
.footer-copyright{
    text-align: center;
}
.footer-copyright p{
    font-size: 1rem;
    margin-top: 30px;
}
/* Footer Section End */