/* ALL COMMON CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.btn{
    padding: 12px 16px;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
}
.btn-hover{
    transition: all linear .3s;
}
.btn-hover:hover{
    background: linear-gradient(to bottom left, #F7E93F, #FB09B4, #9100F8);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.67);
}
i{
    padding-left: 5px;
}
/* All COMMON CSS */

/* Header Part Start */
header{
    background-color: #1A0B2E;
}
nav{
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Menu Part Start */
.navbar{
    display: flex;
    gap: 30px;
}
.nav-menu{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: capitalize;
    transition: all linear.3s;
}
.nav-menu:hover{
    color: #F7E93F;
}