/* ALL COMMON CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.btn{
    padding: 12px 16px;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-transform: capitalize;
}
.btn-hover{
    transition: ease .3s;
}
.btn-hover:hover{
    background: linear-gradient(to bottom left, #F7E93F, #FB09B4, #9100F8);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.btn-green{
    padding: 12px 16px;
    background: transparent;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #00FF88;
    border-radius: 30px;
    cursor: pointer;
    text-transform: capitalize;
}
.btn-green-hover{
    transition: all linear .3s;
}
.btn-green-hover:hover{
    box-shadow: 0 5px 20px rgba(0, 255, 136, 0.3);
}
/* All COMMON CSS */

/* Header Part Start */
header{
    background-color: #1A0B2E;
}
nav{
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Menu Part Start */
.navbar{
    display: flex;
    gap: 30px;
}
.nav-menu{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: capitalize;
    transition: all linear.3s;
}
.nav-menu:hover{
    color: #F7E93F;
}
nav .btn i{
    padding-left: 5px;
}
/* Menu Part End */
/* Banner Part Start */
#banner{
    padding: 50px 0 160px 0;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
    text-align: center;
}
.banner-img{
    position: relative;
}
.m-absolute{
    position: absolute;
    top: 24.5%;
    right: 44.5%;
}
.badge{
    padding: 8px 16px;
    background: #00FF88;
    color: #1A0B2E;
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 2%;
    right: 37%;
}
.banner-info h2{
    color:#FFFFFF;
    font-weight: 800;
    font-size: 3.75rem;
    padding: 25px 0 10px 0;
}
.banner-info p{
    font-size: 1rem;
    font-weight: normal;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.banner-button button{
    margin-left: 15px;
}
.banner-button button i{
    padding-right: 8px;
}
/* Banner Part End */
/* Header Part End */
